html, body{
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}
.navbar-nav li a {
    font-family: "Lato", sans-serif;
    font-size:25px;
    font-weight:bold;
}
.navbar-brand {
    font-family: "Lato", sans-serif;
    font-size:30px;
    font-weight:bold;
    padding-bottom: 10px;
    padding-right: 25px;
}
.navbar .navbar-brand {
    color: royalblue;
    padding-left: 25px;
}
.navbar-nav .nav-item .nav-link {
    color: yellow;
    font-size: 25px;
    padding-left: 20px;
}
#uname {
    color: royalblue;
    font-size: 30px;
    margin-right: 15px;
    margin-left: 30px;
    font-weight: bold;
}
#card-body {
    border-radius: 15px;
}
.card {
    border: none;
    border-radius: 15px;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid blue;
    margin: 1em 0;
    padding: 0;
}
#footer {
    background-color: #000000;
}
#sdn {
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #000000;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 8px 6px 80px;
    text-decoration: none;
    font-size: 25px;
    display: block;
}

.sidenav a:hover {
    color: white;
}

.main {
    margin-left: 250px; /* Same as the width of the sidenav */
    font-size: 30px; /* Increased text to enable scrolling */
    padding: 0 5px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.main-head{
    height: 150px;
    background: #FFF;
}

.sidenav {
    height: 100%;
    background-color: #000;
    overflow-x: hidden;
    padding-top: 20px;
}
.main {
    padding: 0 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
}

@media screen and (max-width: 450px) {
    .login-form{
        margin-top: 10%;
    }

    .register-form{
        margin-top: 10%;
    }
}

@media screen and (min-width: 768px){
    .main{
        margin-left: 40%;
    }

    .sidenav{
        width: 40%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
    }

    .login-form{
        margin-top: 80%;
    }

    .register-form{
        margin-top: 20%;
    }
}


.login-main-text{
    margin-top: 20%;
    padding: 60px;
    color: #fff;
}

.login-main-text h2{
    font-weight: 300;
}

.btn-black{
    background-color: #000 !important;
    color: #fff;
}
.table_label {
    font-size: 14px;
    font-weight: bold;
}
.table_body {
    font-size: 12px;
}
#card_list_parts {
    margin-top: 6.5rem;
    text-align: right;
    margin-left: 10px;
}
#table-parts {
    margin-top: 6.5rem;
}